<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.rtl.min.css"
            integrity="sha384-7mQhpDl5nRA5nY9lr8F1st2NbIly/8WqhjTp+0oFxEA/QUuvlbF6M1KXezGBh3Nb"
            crossorigin="anonymous"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />

        <title>UDAUM EDU PRODUCE</title>
        <link rel="stylesheet" href="style.css" />

        <link rel="stylesheet" href="style.css" />
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body style="background-color: #fafafa;">
        <!-- 알림 드롭바-->
       

        <nav
            class="navbar navbar-expand-lg nav-distance"
            style="background-color: #fafafa; padding-bottom: 25px;"
        >
            <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
                <div class="navbar-logo">
                    <img src="img/logo3.png" style="width: 46px; height: 46px;" />
                </div>

                <div class="navbar-logo_udaum">
                    <img src="img/logo_udaum3.png" style="width: 85px; height: 15px;" />
                </div>

                <!-- 홈으로 돌아가기 버튼
                <a class="navbar-brand" href="#">Navbar</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
-->

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="padding-left: 25px;">
                        <li class="nav-item1" style="height: 50px;">
                            <a
                                class="nav-link"
                                href="/"
                                style="
                                    width: 28px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    line-height: 46px;
                                "
                                >홈</a
                            >
                            <img
                                class="imgbar"
                                src="img/bar1.png"
                                style="width: 28px; height: 5px;"
                            />
                        </li>
                        <li class="nav-item2" style="height: 50px;">
                            <a
                                class="nav-link"
                                href="produce1.html"
                                style="padding-left: 0px; padding-right: 0px; line-height: 46px;"
                                >콘텐츠 제작하기</a
                            >
                            <img
                                class="imgbar"
                                src="img/bar1.png"
                                style="width: 28px; height: 5px;"
                            />
                        </li>
                    </ul>
                </div>

                <!--네비게이션 우측-->
                <div class="navbar-login">
                    <button type="button" id="profile_btn" onclick="#" style="padding-left: 31px;">
                        <img src="img/profile.png" style="width: 37px; height: 37px;" />
                    </button>
                </div>
            </div>
        </nav>


        <nav class="navbar navbar-expand-lg nav-distance" style="background-color: fafafa;">
            <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="padding-left: 46px; padding-top: 50px;">
                        <li class="produce-nav-item1" style="height: 50px; width: 93px;">
                            <a
                                class="produce-nav-link"
                                href="/makeContents1"
                                style="
                                    width: 28px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    line-height: 46px;
                                "
                                >STEP1</a
                            >
                            <img
                                class="imgbar2"
                                src="img/make_bar1.png"
                                style="width: 45px; height: 5px;"
                            />
                        </li>
                        <li class="produce-nav-item2" style="height: 50px;">
                            <a
                                class="produce-nav-link"
                                href="/makeContents2"
                                style="padding-left: 0px; padding-right: 0px; line-height: 46px;"
                                >STEP2</a
                            >
                            <img
                                class="imgbar2"
                                src="img/make_bar1.png"
                                style="width: 45px; height: 5px;"
                            />
                        </li>

                        <li class="produce-nav-item3" style="height: 50px;">
                            <a
                                class="produce-nav-link"
                                href="/makeContents3"
                                style="
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    line-height: 46px;
                                    color: #0606c6;
                                "
                                >STEP3</a
                            >
                            <img
                                class="imgbar2"
                                src="img/make_bar1.png"
                                style="width: 45px; height: 5px; display: block;"
                            />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="produce_main_writing">
            문제 입력하기
        </div>

        <div class="produce_serve_writing">
            문제와 보기, 답안을 입력해 보세요
        </div>

        <div class="problem">
            <div class="problem_list">
                <span class="problem_list_num"> 문제 1번 </span>
            </div>

          <div class="problem_contents2">
                <div class="search2">
                    <input type="text" placeholder="1번 문제를 입력하세요(공백 포함 100자 이내)" id = "quiz" onchange = "quizChange()"/>
                </div>
                <img class="ex1" src="img/ex1.png" onclick = "window.open('img/1039.png','오지선다형','width=430,height=500')"/>
                <br>
                
                
                
                
                      <img class="produce3_1_intro" src="img/produce3_1_intro.png" />
              
              
                      <!--키워드 입력-->
              
                <ul class="problem_contents2_option" >
           
                <li>
                    <div>
                        <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example0" onchange = "exampleChange(0)"/>
                        
                    </div>
                </li>
                <li>
                   <div>
                       <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example1" onchange = "exampleChange(1)"/>
                   </div>
                </li>
                <li>
                    <div>
                        <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example2" onchange = "exampleChange(2)"/>
                    </div>
                </li>

                <li>
                     <div>
                         <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example3" onchange = "exampleChange(3)"/>
                     </div>
                </li>

                </ul>
 

              
              
               <ul class="problem_contents2_option" >
           
                <li>
                    <div>
                        <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example4" onchange = "exampleChange(4)"/>
                        
                    </div>
                </li>
                <li>
                   <div>
                       <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example5" onchange = "exampleChange(5)"/>
                   </div>
                </li>
                <li>
                    <div>
                        <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example6" onchange = "exampleChange(6)"/>
                    </div>
                </li>

                <li>
                     <div>
                         <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example7" onchange = "exampleChange(7)"/>
                     </div>
                </li>

                </ul>
 
              
               <ul class="problem_contents2_option" >
           
                <li>
                    <div>
                        <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example8" onchange = "exampleChange(8)"/>
                        
                    </div>
                </li>
                <li>
                   <div>
                       <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example9" onchange = "exampleChange(9)"/>
                   </div>
                </li>
                <li>
                    <div>
                        <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example10" onchange = "exampleChange(10)"/>
                    </div>
                </li>

                <li>
                     <div>
                         <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example11" onchange = "exampleChange(11)"/>
                     </div>
                </li>

                </ul>
 
              
               <ul class="problem_contents2_option" >
           
                <li>
                    <div>
                        <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example12" onchange = "exampleChange(12)"/>
                        
                    </div>
                </li>
                <li>
                   <div>
                       <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example13" onchange = "exampleChange(13)"/>
                   </div>
                </li>
                <li>
                    <div>
                        <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example14" onchange = "exampleChange(14)"/>
                    </div>
                </li>
                <li>
                     <div>
                         <input type="text" placeholder="보기를 입력하세요" style="    border:none; vertical-align: bottom;" id = "example15" onchange = "exampleChange(15)"/>
                     </div>
                </li>

                </ul>
 
                
            </div>
        </div>
           
        
        
        
        <!--이전/다음 버튼-->
        
        
               <div class="produce_next" style="text-align: right;">
           
                <button type="button" id="back_btn" onclick="location.href = '/makeContents1'">
                    <img
                        src="img/back_btn.png"
                        style="margin-top: 0px; width: 119px; height: 48px;"
                    />
                </button>
                
                 <button type="button" id="ok_btn" class = "submitBtn">
                    <img
                        src="img/ok_btn.png"
                        style="margin-top: 0px; margin-right: 290px;width: 119px; height: 48px;"
                    />
                </button>
                
            </div>
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script>

            var quizValue = '-'
            var example = []

            localStorage.setItem('quizValue' , '-')
            // 앞의 페이지와 비슷하게 localStorage에 '-' 로 값들을 초기화한다.
            for(i = 0; i < 16; i++){
                example.push('-')
                localStorage.setItem(`Example2_${i}` , '-')
            } 


            function quizChange(){
                quizValue = document.getElementById("quiz").value
                localStorage.setItem(`quizName` , quizValue)
                //"quiz"가 입력되면 로컬스토리지의 값 변경
                console.log(quizValue)
            }

            function exampleChange(exampleIdx){
                example[`${exampleIdx}`] = document.getElementById(`example${exampleIdx}`).value
                localStorage.setItem(`Example2_${exampleIdx}` , example[`${exampleIdx}`])
                // 보기가 입력되면 로컬스토리지 값 변경
            }

            function checkContents(){
                if(localStorage.getItem('quizName') == '-') return false
                for(j = 0; j < 16; j++){
                    if (localStorage.getItem(`Example2_${j}`) == '-') return false
                }
                // 앞의 페이지와 동일하게 콘텐츠가 입력 되었는지 체크하는 함수
                return true
            }

            $('.submitBtn').click(function () {
                // 퀴즈 정보를 다 입력하면 /makeContents3_2 페이지로 post 요청하는 코드입니다
                if(checkContents() == false){
                    alert('❌컨텐츠를 입력해주세요!❌')
                }
                // 콘텐츠 입력이 완료되지 않았으면 false
                // 완료되었으면 post 요청을 보낸다.
                else{
                    $.ajax({
                        url: '/makeContents3_2',
                        type: 'post',
                        data: {
                            id: localStorage.getItem("loginId"),
                            quizVal: `${quizValue}`,
                            example: `${example}`,
                            contentsType: 2
                        },
                        dataType: 'JSON'
                    
                        })
                        alert('😀컨텐츠 저장이 완료되었습니다')
                        location.href = '/'
                    }
                }
            )
        </script>
        
        
    </body>
</html>