<!DOCTYPE html>
<html>
    <head>
        <!-- 유디티 제작하기 페이지-->
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.rtl.min.css"
            integrity="sha384-7mQhpDl5nRA5nY9lr8F1st2NbIly/8WqhjTp+0oFxEA/QUuvlbF6M1KXezGBh3Nb"
            crossorigin="anonymous"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        

        <title>UDAUM EDU PRODUCE</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
        <link rel="stylesheet" href="style.css" />
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body style="background-color: #fafafa;">
        <!-- 알림 드롭바-->
        
        <nav
            class="navbar navbar-expand-lg nav-distance"
            style="background-color: #fafafa; padding-bottom: 25px;"
        >
            <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
                <div class="navbar-logo">
                    <img src="img/logo3.png" style="width: 46px; height: 46px;" />
                </div>

                <div class="navbar-logo_udaum">
                    <img src="img/logo_udaum3.png" style="width: 85px; height: 15px;" />
                </div>

                <!-- 홈으로 돌아가기 버튼
                <a class="navbar-brand" href="#">Navbar</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
-->

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="padding-left: 25px;">
                        <li class="nav-item1" style="height: 50px;">
                            <a
                                class="nav-link"
                                href="/afterLogin"
                                style="
                                    width: 28px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    line-height: 46px;
                                "
                                >홈</a
                            >
                            <img
                                class="imgbar"
                                src="img/bar1.png"
                                style="width: 28px; height: 5px;"
                            />
                        </li>
                        <li class="nav-item2" style="height: 50px;">
                            <a
                                class="nav-link"
                                href="/makeContents1"
                                style="padding-left: 0px; padding-right: 0px; line-height: 46px;"
                                >콘텐츠 제작하기</a
                            >
                            <img
                                class="imgbar"
                                src="img/bar1.png"
                                style="width: 28px; height: 5px;"
                            />
                        </li>
                    </ul>
                </div>

                <!--네비게이션 우측-->
                <div class="navbar-login">
                    <button type="button" id="profile_btn" onclick="location.href = '/myPage'" style="padding-left: 31px;">
                        <img src="img/profile.png" style="width: 37px; height: 37px;" />
                    </button>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg nav-distance" style="background-color: fafafa;">
            <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="padding-left: 46px; padding-top: 50px;">
                        <li class="produce-nav-item1" style="height: 50px; width: 93px;">
                            <a
                                class="produce-nav-link"
                                href="/makeContents1"
                                onclick ="alert(`❌컨텐츠를 선택하고 넘어가주세요!❌`)"
                                style="
                                    width: 28px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    line-height: 46px;
                                    color: #0606c6;
                                "
                                >STEP1</a
                            >
                            <img
                                class="imgbar2"
                                src="img/make_bar1.png"
                                style="width: 45px; height: 5px; display: block;"
                            />
                        </li>
                        <li class="produce-nav-item2" style="height: 50px;">
                            <a
                                class="produce-nav-link"
                                style="padding-left: 0px; padding-right: 0px; line-height: 46px;"
                                >STEP2</a
                            >
                            <img
                                class="imgbar2"
                                src="img/make_bar1.png"
                                style="width: 45px; height: 5px;"
                            />
                        </li>

                        <li class="produce-nav-item3" style="height: 50px;">
                            <a
                                class="produce-nav-link"
                                style="padding-left: 0px; padding-right: 0px; line-height: 46px;"
                                >STEP3</a
                            >
                            <img
                                class="imgbar2"
                                src="img/make_bar1.png"
                                style="width: 45px; height: 5px;"
                            />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="produce_main_writing">
            템플릿 선택하기
        </div>

        <div class="produce_serve_writing">
            원하는 템플릿을 선택해 보세요
        </div>
        <br />
        <ul class="main2" style="padding-top: 77px; height: 513px; padding-bottom: 51px;">
            <li class = option1>
                <div style="width: 359px; font-family: Pretendard">
                    <img src="img/4.png" srcset="img/4@2x.png 2x,img/4@3x.png 3x" />
                    <img id="main2_text1" src="img/main2_text1.png" />
                    <br />
                    문제, 정답, 오답 4개로 구성된 객관식 퀴즈 콘텐츠입니다. <br />
                    학습자는 캐릭터를 움직여 정답 발판 위로 달려갑니다.
                    
                </div>
            </li>
            <li class = option2>
                <div style="width: 359px; font-family: Pretendard">
                    <img src="img/2.png" srcset="img/2@2x.png 2x,img/2@3x.png 3x" />
                    <img id="main2_text2" src="img/10072.png" />
                    <br />
                    문제, 정답, 오답 4개로 구성된 객관식 퀴즈 콘텐츠입니다. <br />
                    학습자는 캐릭터를 움직여 정답 발판 위로 달려갑니다.
                </div>
            </li>
            <li class = option3>
                <div style="width: 359px; height: 386px; font-family: Pretendard">
                    <img src="img/3.png" srcset="img/3@2x.png 2x,img/3@3x.png 3x" class = "opt2_img"/>
                    <img id="main2_text1" src="img/236246.png" />
                    <br />
                    문제, 정답, 힌트 10개로 구성된 스무고개형 콘텐츠입니다. <br />
                    학습자는 공간을 돌아다니며 힌트를 보고 정답을 유추합니다.
                    <br />
                </div>
            </li>
        </ul>

        <div class="produce_next" style="text-align: right;">
            <button type="button" id="back_btn" onclick="location.href='/'" class = opt2_img>
                <img src="img/back_btn.png" style="margin-top: 0px; width: 119px; height: 48px;" />
            </button>

            <button type="button" id="ok_btn">
                <img
                    src="img/ok_btn.png"
                    style="margin-top: 0px; margin-right: 290px; width: 119px; height: 48px;"
                />
            </button>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script>

            document.cookie = "safeCookie1=foo; SameSite=Lax"; 
            document.cookie = "safeCookie2=foo";  
            document.cookie = "crossCookie=bar; SameSite=None; Secure";

            $(".option1").click(function () {
                sessionStorage.setItem('pageNum' , 1)
                $('li').css("border", "none")
                $(this).css("border", "3px solid blue")
            })

            $(".option2").click(function () {
                sessionStorage.setItem('pageNum' , 2)
                $('li').css("border", "none")
                $(this).css("border", "3px solid blue")
            })

            $(".option3").click(function () {
                sessionStorage.setItem('pageNum' , 3)
                $('li').css("border", "none")
                $(this).css("border", "3px solid blue")
            })

            $('#ok_btn').click(function () {
                if(localStorage.getItem('loginId') == null){
                    alert('❌로그인 이후 이용해주세요!❌')
                }
                else if(sessionStorage.getItem('pageNum') == null){
                    alert('❌템플릿을 선택해 주세요❌')
                }else{
                    location.href= "/makeContents2"
                }

            })

        </script>
    </body>

</html>